/* --------------------------------------------------
 * Pixelgarage fonts
 * --------------------------------------------------*/
//
// webfont licences
//@import '../fonts/BrandonGrotesque/BrandonGrotesque-Licence.css';

//
// Google fonts
//@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

//
// Define customer specific fonts
$pxl-font-path: '~assets/fonts';

//
// Awesome icon font
$fa-font-path: "#{$pxl-font-path}/font-awesome/fonts"; // override fa font path (lazy loading)
@import "../fonts/font-awesome/scss/font-awesome";

// icon font
$pxl-icon-font: 'fontawesome';

// title font
$pxl-title-font: 'SohoGothicProBold';
$pxl-subtitle-font: 'SohoGothicProBold';

// text fonts
$pxl-text-font: 'SohoGothicProRegular';
$pxl-text-font-light: 'SohoGothicProLight';
$pxl-text-font-medium: $pxl-text-font;
$pxl-text-font-bold: 'SohoGothicProBold';
$pxl-text-font-italic: $pxl-text-font;
$pxl-text-font-light-italic: 'SohoGothicProLight';
$pxl-text-font-medium-italic: $pxl-text-font;
$pxl-text-font-bold-italic: 'SohoGothicProBold';

// form font
$pxl-form-font: $pxl-text-font;

// overrides
$font-family-base: $pxl-text-font;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

//
// Font faces
//
@font-face {
  font-family: 'SohoGothicProRegular';
  src: url('#{$pxl-font-path}/SohoGothicProRegular/SohoGothicProRegular.eot');
  src: url('#{$pxl-font-path}/SohoGothicProRegular/SohoGothicProRegular.eot') format('embedded-opentype'),
  url('#{$pxl-font-path}/SohoGothicProRegular/SohoGothicProRegular.woff2') format('woff2'),
  url('#{$pxl-font-path}/SohoGothicProRegular/SohoGothicProRegular.woff') format('woff'),
  url('#{$pxl-font-path}/SohoGothicProRegular/SohoGothicProRegular.ttf') format('truetype'),
  url('#{$pxl-font-path}/SohoGothicProRegular/SohoGothicProRegular.svg#SohoGothicProRegular') format('svg');
}
@font-face {
  font-family: 'SohoGothicProLight';
  src: url('#{$pxl-font-path}/SohoGothicProLight/SohoGothicProLight.eot');
  src: url('#{$pxl-font-path}/SohoGothicProLight/SohoGothicProLight.eot') format('embedded-opentype'),
  url('#{$pxl-font-path}/SohoGothicProLight/SohoGothicProLight.woff2') format('woff2'),
  url('#{$pxl-font-path}/SohoGothicProLight/SohoGothicProLight.woff') format('woff'),
  url('#{$pxl-font-path}/SohoGothicProLight/SohoGothicProLight.ttf') format('truetype'),
  url('#{$pxl-font-path}/SohoGothicProLight/SohoGothicProLight.svg#SohoGothicProLight') format('svg');
}
@font-face {
  font-family: 'SohoGothicProBold';
  src: url('#{$pxl-font-path}/SohoGothicProBold/SohoGothicProBold.eot');
  src: url('#{$pxl-font-path}/SohoGothicProBold/SohoGothicProBold.eot') format('embedded-opentype'),
  url('#{$pxl-font-path}/SohoGothicProBold/SohoGothicProBold.woff2') format('woff2'),
  url('#{$pxl-font-path}/SohoGothicProBold/SohoGothicProBold.woff') format('woff'),
  url('#{$pxl-font-path}/SohoGothicProBold/SohoGothicProBold.ttf') format('truetype'),
  url('#{$pxl-font-path}/SohoGothicProBold/SohoGothicProBold.svg#SohoGothicProBold') format('svg');
}
