/*
 *  Text mixins
 * --------------------------------------------------*/

// Variables
// -------------------------
$pxl-color-glow: #40856D;


// Mixins
// -------------------------
//
//  TEXT optimisation
//

// Language dependant word hyphenation (language has to be set in html element)
@mixin pxl-hyphenate($mode: auto){
  // Non standard for webkit, breaks between words
  word-break: break-word;

  // uses dictionaries for correct word breaking in supported languages
  -webkit-hyphens: $mode;
  -moz-hyphens: $mode;
  -ms-hyphens: $mode;
  -o-hyphens: $mode;
  hyphens: $mode;
}

//
// Sharper font smoothing for modern browsers
@mixin pxl-sharp-fonts(){
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Subpixel Rendering -> https://www.mobomo.com/2014/05/better-font-smoothing-in-chrome-on-mac-os-x
  @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and ( min-device-pixel-ratio: 1.25),
  only screen and ( min-resolution: 200dpi),
  only screen and ( min-resolution: 1.25dppx) {
    -webkit-font-smoothing: antialiased;
  }
}

//
// Placeholder
@mixin pxl-placeholder($color: $input-color-placeholder, $text-align: left){
  // Firefox
  &::-moz-placeholder {
    text-align: $text-align;
    color: $color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder { text-align: $text-align; color: $color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { text-align: $text-align; color: $color; } // Safari and Chrome
}

//
// responsive font size with minimum, medium and maximum size
@mixin pxl-font-size-responsive($min-size: $resp-text-size-min, $med-size: $resp-text-size-med, $max-size: $resp-text-size-max){
  // convert breakpoint to em
  $min-max-breakpoint: 0em + 48 * $min-size / $med-size;

  // min font size
  font-size: $min-size;

  // dynamic font size depending on viewport width
  @media screen and (min-width: $min-max-breakpoint) {
    font-size: ($med-size/7.68px)*1vw;
  }
  // med. font size
  @include media-breakpoint-up(md) {
    font-size: $med-size;
  }
  // max. font size
  @include media-breakpoint-up(md) {
    font-size: $max-size;
  }
}

//
// title, subtitle, text styles
@mixin pxl-title(){
  font-family: $pxl-title-font;
  @include pxl-font-size-responsive($resp-title-size-min, $resp-title-size-med, $resp-title-size-max);
  letter-spacing: $title-letter-spacing;
  line-height: $title-line-height;
  text-align: $title-text-align;
  color: $text-color;
}

@mixin pxl-subtitle(){
  font-family: $pxl-subtitle-font;
  @include pxl-font-size-responsive($resp-subtitle-size-min, $resp-subtitle-size-med, $resp-subtitle-size-max);
  letter-spacing: $subtitle-letter-spacing;
  line-height: $subtitle-line-height;
  text-align: $subtitle-text-align;
  color: $text-color;
}

@mixin pxl-text(){
  font-family: $pxl-text-font-light;
  @include pxl-font-size-responsive();
  letter-spacing: $text-letter-spacing;
  line-height: $text-line-height;
  text-align: $text-text-align;
  color: $text-color;
}

@mixin pxl-subtext(){
  font-family: $pxl-text-font;
  @include pxl-font-size-responsive($resp-subtext-size-min,$resp-subtext-size-med,$resp-subtext-size-max);
  letter-spacing: $subtext-letter-spacing;
  line-height: $subtext-line-height;
  text-align: $subtext-text-align-small;

  @include media-breakpoint-up(md) {
    text-align: $subtext-text-align;
  }
}

@mixin pxl-glow(){
  font-family: $pxl-text-font-light;
  @include pxl-font-size-responsive(100px, 100px, 50px);
  letter-spacing: 0.2em;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $text-color;
  @include pxl-animation(text-glow 3s ease-in-out infinite alternate);
  @include pxl-keyframes-text-glow();
  text-shadow: 0 0 10px $pxl-color-glow, 0 0 10px $pxl-color-glow, 0 0 10px $pxl-color-glow, 0 0 20px $pxl-color-glow, 0 0 20px $pxl-color-glow, 0 0 20px $pxl-color-glow, 0 0 20px $pxl-color-glow, 0 0 30px $pxl-color-glow;
}

@mixin pxl-paragraph-first-letter(){
  p::first-letter {
    @include title();
    float: left;
    vertical-align: top;
  }
}

//
// WYSIWYG body
@mixin pxl-wysiwyg-body() {
  h1, h2, .pxl-title {
    margin: 20px auto 20px;
    @include pxl-title();
  }

  h3, .pxl-subtitle {
    margin: 10px auto;
    @include pxl-subtitle();
  }

  h4, h5, h6 {
    margin: 7px auto;
    @include pxl-text();
  }

  p {
    margin: 0 0 10px;
    @include pxl-text();
    @include pxl-hyphenate;
  }

  small, .pxl-subtext {
    @include pxl-subtext();
  }

  .pxl-glow {
    @include pxl-glow();
  }

  .pxl-quote {
    @include pxl-title();
    text-align: center;
  }

  a {
    @include pxl-text();
    color: $link-color;

    @include hover-focus {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
      background: none;
    }
  }

  pre, address, i, em {
    @include pxl-text();
    font-family: $pxl-text-font-italic;
  }

  strong, b {
    @include pxl-text();
    font-family: $pxl-text-font-bold;
  }

  u {
    @include pxl-text();
    color: $link-color;

    @include hover-focus {
      color: $link-hover-color;
    }
  }

  mark {
    @include pxl-text();
    background-color: #ff0;
  }

  hr {
    border: 0;
    border-bottom: 2px solid $pxl-color-border-active;
    background: none;
  }

  img {
    display: block;
    overflow: hidden;
    margin: 20px auto;
    padding: 0;
    max-width: 100%;
    height: auto;
  }

  embed, video, audio, iframe {
    display: block;
    overflow: hidden;
    margin: 20px auto;
    padding: $grid-gutter-width/2;
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 350px;
  }
}

//
// CSS3 Glow Animation
//
@mixin pxl-animation($animation){
  -webkit-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

@mixin pxl-keyframes-text-glow($color: $pxl-color-glow) {
  @-webkit-keyframes text-glow {
    from { text-shadow: 0 0 8px $color, 0 0 8px $color, 0 0 8px $color, 0 0 12px $color, 0 0 12px $color, 0 0 12px $color, 0 0 18px $color, 0 0 22px $color;  }
    to   { text-shadow: 0 0 12px $color, 0 0 12px $color, 0 0 12px $color, 0 0 24px $color, 0 0 24px $color, 0 0 24px $color, 0 0 24px $color, 0 0 32px $color;  }
  }
  @-moz-keyframes text-glow {
    from { text-shadow: 0 0 8px $color, 0 0 8px $color, 0 0 8px $color, 0 0 12px $color, 0 0 12px $color, 0 0 12px $color, 0 0 18px $color, 0 0 22px $color;  }
    to   { text-shadow: 0 0 12px $color, 0 0 12px $color, 0 0 12px $color, 0 0 24px $color, 0 0 24px $color, 0 0 24px $color, 0 0 24px $color, 0 0 32px $color;  }
  }
  @keyframes text-glow {
    from { text-shadow: 0 0 8px $color, 0 0 8px $color, 0 0 8px $color, 0 0 12px $color, 0 0 12px $color, 0 0 12px $color, 0 0 18px $color, 0 0 22px $color;  }
    to   { text-shadow: 0 0 12px $color, 0 0 12px $color, 0 0 12px $color, 0 0 24px $color, 0 0 24px $color, 0 0 24px $color, 0 0 24px $color, 0 0 32px $color;  }
  }
}
